{# _hero.njk #}
{% macro hero(title1, title2, description) %}
<section class="container-fluid bg-light">
   <div class="container py-5">
      <div class="row flex-column justify-content-center text-center align-items-center">
         <h1 class="display-3 fw-bold"> {{ title1 }} <span class="text-primary"> {{ title2 }} </span></h1>
         <div class="col-8">
            <p class="py-3 fs-5 text-secondary"> {{ description }} </p>
         </div>
        
         <div class="d-flex gap-3 justify-content-center">
            {{ caller() }} {# Aquí entrarán los botones #}
         </div>
        
      </div>
   </div>
</section>
{% endmacro %}